{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link href="{% static 'css/server_monitoring.css' %}" rel="stylesheet", type="text/css">
{% endblock %}
{% block content %}
{% endblock %}
{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/104/three.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
