{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Demonstration of threejs for showing servers in local net" />
    <title>
        {% block title %}
            Server monitoring
        {% endblock %}
    </title>
    {% block extra_css %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
{% block extra_js %}
{% endblock %}
</body>

</html>
